extends layout

block content
  .container
    h1 New Message!
    .form-container
      form(method='POST' action='/create-message')
        input(type='text' name='message' placeholder='Message here...')
        br
        br
        input(type='submit' value='Submit')