extends layout

block content
  ul.messages
    each message in messages
      li.message-item
        if currentUser && (currentUser.membershipStatus === "member" || currentUser.membershipStatus === "admin")
          span.message-author= message.author.username
        p.message-text= message.text
        small.message-timestamp= message.added
        if currentUser && currentUser.membershipStatus === "admin"
          form(method='POST' action=`/delete-message/${message._id}` style='display: inline;')
            button.delete-button(type='submit') Delete
